version: '3.8'

services:
  hytale-server:
    build: .
    container_name: hytale-server
    ports:
      - "5520:5520"
    volumes:
      - ../data:/hytale/data
      - ../.hytale-downloader-credentials.json:/hytale/.hytale-downloader-credentials.json
    stdin_open: true
    tty: true
    restart: unless-stopped
    networks:
      - hytale-network

networks:
  hytale-network:
    driver: bridge

