version: '3.8'

services:
  hytale-server:
    build: .
    ports:
      - "5520:5520/tcp"
      - "5520:5520/udp"
    volumes:
      - ../data:/hytale/
    stdin_open: true
    tty: true
    restart: unless-stopped
    networks:
      - hytale-network

networks:
  hytale-network:
    driver: bridge

